<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create Job</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1 class="mt-5">Create Job</h1>
  <form th:action="@{/jobs/create}" th:object="${job}" method="post" class="mt-3">
    <div class="form-group">
      <label for="jobName">Job Name:</label>
      <input type="text" id="jobName" th:field="*{jobName}" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="jobDesc">Job Description:</label>
      <textarea id="jobDesc" th:field="*{jobDesc}" class="form-control" required></textarea>
    </div>
    <div class="form-group">
      <label for="skills">Skills (Keep Pressing Ctrl To Chose Skills):</label>
      <select id="skills" name="jobSkills" th:field="*{jobSkills}" class="form-control" multiple>
        <option th:each="skill : ${skills}" th:value="${skill.id}" th:text="${skill.skillName}"></option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Create Job</button>
  </form>
</div>
</body>
</html>